@font-face{
    font-family: "Baloo Thambi 2";
    src: url(../fonts/Baloo_Thambi_2/BalooThambi2-Regular.ttf);
}

@font-face{
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face{
    font-family: "Rubik";
    src: url(../fonts/Rubik/Rubik-Regular.ttf);
}

@import './include/variables.scss';
@import './include/global.scss';
@import './include/typography.scss';
@import './include/color.scss';
@import './include/top-sale.scss';
@import './include/special-price.scss';

/*     SASS template      */

